.dashboard-container {
	display: flex;
	padding: 20px;
	background-color: #1c1c1c;
	min-height: 100vh;
	padding-top: 100px;
}

.sidebar {
	width: 250px;
	background-color: #333333;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.3);
	margin-right: 20px;
}

.sidebar h3 {
	color: white;
	margin-bottom: 20px;
}

.sidebar ul {
	list-style: none;
	padding: 0;
}

.sidebar ul li button {
	background-color: #444444;
	color: white;
	width: 100%;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	font-size: 1.1rem;
	margin-bottom: 15px;
	transition: all 0.3s ease;
}

.sidebar ul li button:hover {
	background-color: #6b7978;
}

.dashboard-main {
	flex-grow: 1;
	padding: 40px;
	background-color: #444444;
	border-radius: 10px;
}

.add-btn {
	color: white;
	padding: 10px 20px;
	font-size: 1rem;
	border-radius: 25px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
	margin-left: 0;
}
.panel {
	background-color: #333333;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
	margin-bottom: 20px;
}
.panel p {
	padding: 5px;
}
.panel h2 {
	color: white;
	margin-bottom: 20px;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

table th,
table td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #444444;
}

table th {
	color: white;
	background-color: #444444;
}

table td {
	color: white;
}

button.small-btn {
	background-color: #f5ebfa;
	color: black;
	font-size: 1rem;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease;
}

button.small-btn:hover {
	background-color: #6b7978;
	color: white;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: #333333;
	margin: 15% auto;
	padding: 30px;
	border-radius: 15px;
	width: 50%;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.close-btn {
	color: #f5ebfa;
	font-size: 28px;
	font-weight: bold;
	float: right;
	cursor: pointer;
	transition: color 0.3s ease;
}

.close-btn:hover {
	color: #6b7978;
}

.modal-content label {
	font-size: 1.1rem;
	color: #f5ebfa;
	margin-bottom: 10px;
	display: block;
	text-align: left;
}

.modal-content input,
.modal-content select,
.modal-content textarea {
	width: 100%;
	padding: 15px;
	font-size: 1rem;
	border: 2px solid #444444;
	border-radius: 10px;
	background-color: #222222;
	color: white;
	margin-bottom: 20px;
	transition: all 0.3s ease;
}

.modal-content input:focus,
.modal-content select:focus,
.modal-content textarea:focus {
	border-color: #f5ebfa;
	outline: none;
	box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

.modal-content input:hover,
.modal-content select:hover,
.modal-content textarea:hover {
	border-color: #6b7978;
}

.modal-content button {
	background-color: #333333;
	color: #f5ebfa;
	padding: 15px 30px;
	font-size: 1.2rem;
	border-radius: 25px;
	border: none;
	cursor: pointer;
	width: 100%;
	transition: all 0.3s ease;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-content button:hover {
	background-color: #6b7978;
	transform: scale(1.05);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
	border: 2px solid #f5ebfa;
}

button {
	background-color: #444444;
	color: #f5ebfa;
	font-size: 1.1rem;
	padding: 12px 25px;
	border-radius: 30px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease,
		box-shadow 0.3s ease;
	margin-top: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
	background-color: #6b7978;
	transform: scale(1.05);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
	border: 2px solid #f5ebfa;
}

.user-table {
	width: 100%;
	margin: 20px 0;
	border-collapse: collapse;
	background-color: #333333;
	border-radius: 10px;
	text-align: center;
}

.user-table th,
.user-table td {
	padding: 15px;
	border-bottom: 1px solid #444444;
	color: #f5ebfa;
}

.panel-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.panel-header h2 {
	flex: 1;
	text-align: center;
	margin: 0;
}

.pagination-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.pagination-btn {
	background-color: #333333;
	color: white;
	padding: 10px 15px;
	font-size: 1rem;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin: 0 10px;
}

.pagination-btn:hover {
	background-color: #6b7978;
	transform: scale(1.05);
}
.meeting-table {
	width: 100%;
	margin: 20px 0;
	border-collapse: collapse;
	background-color: #333333;
	border-radius: 10px;
	text-align: center;
}

.meeting-table th,
.meeting-table td {
	padding: 15px;
	border-bottom: 1px solid #444444;
	color: #f5ebfa;
}

@media (max-width: 768px) {
	.dashboard-container {
		flex-direction: column;
		padding: 10px;
	}

	.sidebar {
		width: 100%;
		margin-bottom: 20px;
	}

	.dashboard-main {
		padding: 20px;
	}

	.modal-content {
		width: 90%;
	}
}
