<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Register - Business Meeting Scheduler</title>
		<link rel="stylesheet" href="/css/styles.css" />
		<link rel="stylesheet" href="/css/register.css" />
	</head>
	<body>
		<header>
			<div class="logo">
				<h1>Your Project</h1>
			</div>
			<div th:replace="~{fragments/menu :: menu}"></div>
		</header>

		<section class="register-container">
			<div class="register-form">
				<h2>Register</h2>
				<form action="/auth/signup" method="POST" id="register-form" th:object="${registerDTO}">
					
					<!-- Username -->
					<div class="input-group">
						<label for="name">Userame</label>
						<input type="text" th:field="*{username}" id="name" placeholder="Userame" required />
						<div th:if="${#fields.hasErrors('username')}" style="color: red;">
							<p th:errors="*{username}">Full name error</p>
						</div>
					</div>

					<!-- Email -->
					<div class="input-group">
						<label for="email">Email</label>
						<input type="email" th:field="*{email}" id="email" placeholder="Enter your email" required />
						<div th:if="${#fields.hasErrors('email')}" style="color: red;">
							<p th:errors="*{email}">Email error</p>
						</div>
					</div>

					<!-- Password -->
					<div class="input-group">
						<label for="password">Password</label>
						<input type="password" th:field="*{password}" id="password" placeholder="Enter your password" required />
						<div th:if="${#fields.hasErrors('password')}" style="color: red;">
							<p th:errors="*{password}">Password error</p>
						</div>
					</div>
					

					<!-- Confirm Password -->
					<div class="input-group">
						<label for="confirm-password">Confirm Password</label>
						<input type="password" th:field="*{cpassword}" id="confirm-password" placeholder="Confirm your password" required />
						<div th:if="${#fields.hasErrors('cpassword')}" style="color: red;">
							<p th:errors="*{cpassword}">Confirm password error</p>
						</div>
					</div>

					<!-- Submit Button -->
					<div class="form-footer">
						<button type="submit" class="btn">Register</button>
						<p>
							Already have an account?
							<a href="/auth/login">Login</a>
						</p>
					</div>
				</form>
			</div>
		</section>

		<footer>
			<p>&copy; 2025 Your Company. All rights reserved.</p>
		</footer>
	</body>
</html>
